body {
    padding: 0;
    margin: 0;
    background-color: #224264;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


#header {
    width: auto;
    background-color: #eef3f9;
    padding: 2.5vh;
    text-align: center;
    font-size: 4.5vh;
    color: #224264;
    /*font-family: 'Bungee Shade', cursive;
    font-family: 'Maven Pro', sans-serif;*/
    --webkit-box-shadow: 0px 1vh 2vh 0px #1d3955;
    -moz-box-shadow: 0px 1vh 2vh 0px #1d3955;
    box-shadow: 0px 1vh 2vh 0px #1d3955;
    height: 20%;
}

table{
    width:100%;
    height:100%;
    text-align: center;
}
tr {
    vertical-align: center;
    width: auto;
    padding: auto;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    margin: 0;
    width:auto;
    vertical-align: middle;
}

h3 {
    margin: 0;
    width: auto;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.5vh;
    vertical-align: middle;
}

#content {
    height: 65%;
    padding: 2.5%;
    width: 95%;
}

#waveDiv {
    background-color: #eef3f9;
    border-radius: 2vh;
    height:85%;
    width: 95%;
    padding: 2.5%;
    --webkit-box-shadow: 0px 0px 2vh 0vh #1d3955;
    -moz-box-shadow: 0px 0px 2vh 0vh #1d3955;
    box-shadow: 0px 0px 2vh 0vh #1d3955;
}
#waveHeight {
    width: 65%;
    height:93%;
    padding-top: 2%;
    padding-right: 10%;
    display: inline-block;
    vertical-align: middle;

}
#person {
    max-width: 20%;
    max-height:95%;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

p {
    text-align: center;
    color: #224264;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2vh;
    vertical-align: middle;
    font-weight: bold;
    padding: 0;
}

#linkCDIP {
    font-size: 1.5vh;
}

#dataVisual {
    height: 55%;
}
#text {
    height: 40%
}